# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Boot
HELP.md
application.properties
application.properties.example
!.gitignore

# Podman / Docker
.docker/
pgdata/
redisdata/

# Logs
*.log

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# OS
.DS_Store
Thumbs.db

# Documents
*.txt
